
{% extends 'navigation_bar.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top: 50px">
<h2 class="text-center">About Us</h2>
<br><br><br>

<div class="row d-flex">
    <div class="col-sm-4 text-center ">
        <img src="{% static 'images/about-us.jpg' %}" width="200" height="200">
    </div>
    <div class="col-sm-6 font-weight-bold ms-5 ps-4">
        At CHTC, you  is backed by a team of highly professional, experienced and well 
          qualified staff. We work hard every day and night to raise the level of treatment to the extent that
           “Our best will be the Nation's best” in the Medical Treatm
    </div>
</div>
</div>

{% endblock %}
